@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Patrick+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary: #f06090;
    --secondary: #f08383;
    --accent: #f94646;
    --bg: #FFF0F6;
    --text: #7e7e7e;
    --bg-img: url("./assets/images/whiteBg.jpg");
}

@layer base{
    .flex-center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main{
        background-image: var(--bg-img);
        width: 100%;
        padding: 10px 40px;
    }
    h1{
        font-family: "Poppins";
        font-size: 1.7em;
        font-weight: 900;
        text-align: center;
        background: linear-gradient(to right, #f06090, #f08383, #f94646);
        background-size: 200%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: text-gradient 2.5s linear infinite;
    }
    @keyframes text-gradient {
        to{
            background-position: -200%;
        }
    }
    p{
        color: var(--text);
        font-family: "Patrick Hand";
        font-size: 1rem;
        text-align: center;
    }
    button{
        width: 100%;
        border-radius: 100px;
        background: var(--primary);
        color: white;
        padding: 15px 0px;
        font-weight: 400;
        font-size: 1.5rem;
        box-shadow: 5px 5px 0px var(--accent);
        transition: all .4s;
    }
    button:hover{
        box-shadow: none;
        transform: translateX(5px) translateY(5px);
    }
    .cancel-btn{
        transform: scaleX(-1);
    }
    .step-bar{
        width: 60px;
        height: 15px;
        border-radius: 20px;
        border: 2px solid var(--primary);
    }
    a{
        color: var(--primary);
    }
    .choose{
        background-size: 200%;
        animation: bg-animate 2.5s linear infinite;
    }
    @keyframes bg-animate {
        to{
            background-size: -200%;
        }
    }
    .btn{
        width: 100%;
        border-radius: 100px;
        background: var(--primary);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0px;
        font-weight: 400;
        font-size: 1.5rem;
        box-shadow: 5px 5px 0px var(--accent);
        transition: all .4s;
    }
    .btn:hover{
        box-shadow: none;
        transform: translateX(5px) translateY(5px);
    }
}